{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre del Alumno</th>
        <th scope="col">Materias</th>
        <th scope="col">Notas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Alberto Perez</th>
        <td>Historia <br>
            Programación <br>
            Lengua <br>
            Matemática <br>
        </td>
        <td>4 <br>
            6 <br>
            9 <br>
            2 
        </td>
      </tr>
     
      <tr>
        <th scope="row">Maria Victoria Molina</th>
        <td>Historia <br>
            Programación <br>
            Lengua <br>
            Matemática <br>
        </td>
        <td>6 <br>
            9 <br>
            7 <br>
            5.5 
        </td>
    </tr>

    <tr>
        <th scope="row">Jorge Gomez</th>
        <td>Historia <br>
            Programación <br>
            Lengua <br>
            Matemática <br>
        </td>
        <td>4 <br>
            1 <br>
            8 <br>
            9
        </td>
    </tr>

    <tr>
        <th scope="row">Matias Sami</th>
        <td>Historia <br>
            Programación <br>
            Lengua <br>
            Matemática <br>
        </td>
        <td>5 <br>
            3.5 <br>
            9 <br>
            6 
        </td>
    </tr>

    <tr>
        <th scope="row">Lucas Dino</th>
        <td>Historia <br>
            Programación <br>
            Lengua <br>
            Matemática <br>
        </td>
        <td>3 <br>
            1 <br>
            7 <br>
            5
        </td>
    </tr>

    <tr>
        <th scope="row">Jessica Pri</th>
        <td>Historia <br>
            Programación <br>
            Lengua <br>
            Matemática <br>
        </td>
        <td>8 <br>
            10 <br>
            4 <br>
            6.5
        </td>
    </tr>

</table>

<br>
<br>
<br>
<br>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre del alumno</th>
        <th scope="col">Condición del año escolar</th>
        <th scope="col">Periodo de examenes</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">Alberto Perez</th>
          <td style=background-color:red> DESAPROBADO </td>
          <td>Marzo</td>
        </tr>

        <tr>
            <th scope="row">Maria Victoria Molina</th>
            <td style=background-color:green> APROBADO </td>
            <td>Año aprobado</td>
          </tr>

          <tr>
            <th scope="row">Jorge Gomez</th>
            <td style=background-color:red> DESAPROBADO </td>
            <td>Marzo</td>
          </tr>

          <tr>
            <th scope="row">Matias Sami</th>
            <td style=background-color:green> APROBADO </td>
            <td>Año aprobado</td>
          </tr>         

          <tr>
            <th scope="row">Lucas Dino</th>
            <td style=background-color:red> DESAPROBADO </td>
            <td>Marzo</td>
          </tr>

          <tr>
            <th scope="row">Jessica Pri</th>
            <td style=background-color:green> APROBADO </td>
            <td>Año aprobado</td>
          </tr>



</table>



{% endblock %} 




